body {
    font-family: "Myriad Pro";
}

#main {
    margin-top: 90px;
}

#header {
    padding: 24px 0;
    background: transparent;
}
#header .logo {
    margin-left: 150px;
    margin-top: 19px;
}

#header .logo img {
    padding: 0;
    margin: 0;
    height: 100px;
}
.nav-link:hover {
    color: #aeadad;
}

.barra-nav {
    padding: 0;
}
.barra-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.barra-nav li {
    position: relative;
}
.barra-nav a,
.barra-nav a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    margin-left: 10px;
    font-family: "Myriad Pro Regular";
    font-size: 20px;
    color: rgb(255, 255, 255);
}

@media (max-width: 991px) {
    .barra-nav ul {
        display: none;
    }
}
#principal {
    width: 1518px;
    height: 1000px;
    background-image: url("../img/portada.jpg");
    background-size: cover;
    position: relative;
    margin-bottom: -90px;
}
#principal .contenedor-principal {
    background: rgb(69, 104, 130);
    opacity: 85%;
    position: absolute;
    bottom: 85px;
    top: 1;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    height: 230px;
}
#principal h1 {
    margin: 40px 0 10px 259px;
    font-family: "Myriad Pro Bold";
    font-size: 36px;
    line-height: 80px;
    color: #ffffff;
}
#principal p {
    color: #ffffff;
    font-family: "Myriad Pro Regular";
    margin-bottom: 50px;
    line-height: 0px;
    font-size: 30px;
    margin-left: 259px;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.seccion-titulo {
    text-align: center;
    padding-bottom: 30px;
}
.seccion-titulo h2 {
    font-size: 36px;
    font-family: "Myriad Pro Bold";
    position: relative;
    margin-bottom: 30px;
    color: #1b1e3f;
}

.seccion-titulo p {
    margin-bottom: 0;
}

#servicios {
    background: #ffffff;
    padding: 60px 0;
}
#servicios .item {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#servicios .item .item-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
    margin-left: 16px;
    margin-right: 16px;
}
#servicios .item .item-info-content {
    margin-top: 50px;
    transition: margin 0.2s;
}
#servicios .item .item-info-content p {
    margin-left: 45px;
    margin-right: 50px;
}

#servicios .item:hover .item-info {
    background: rgba(69, 104, 130, 0.7);
    opacity: 1;
    transition: 0.4s;
}
#servicios .item:hover .item-info-content {
    margin-top: 0;
    transition: margin 0.4s;
}
#servicios .item .item-info .item-info-content .item-servicio-1 {
    font-family: "Myriad Pro Bold";
    margin-bottom: 2px;
    color: #ffffff;
    line-height: 89px;
}

#servicios .item .item-info .item-info-content .parrafo-servicio-1 {
    font-family: "Myriad Pro Regular";
    display: block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}
#servicios .item .item-info .item-info-content .item-servicio-2 {
    font-family: "Myriad Pro Bold";
    margin-top: 50px;
    color: #ffffff;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#servicios .item .item-info .item-info-content .parrafo-servicio-2 {
    font-family: "Myriad Pro Regular";
    display: block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 0 0 0 10px;
}
#servicios .item .social {
    margin-top: 15px;
}
#servicios .item .social a {
    transition: 0.3s;
    color: rgba(121, 65, 65, 0.7);
}
#servicios .item .social a:hover {
    color: #fff;
}
#servicios .item .social i {
    font-size: 18px;
    margin: 0 2px;
}

.emprendimiento {
    background-size: cover;
    padding: 60px 0;
    position: relative;
    background-color: #526685;
}
.emprendimiento img {
    border-radius: 80%;
}
.emprendimiento .container {
    position: relative;
    z-index: 10;
}
.emprendimiento .content {
    padding: 30px 30px 30px 0;
}
.emprendimiento .content h3 {
    font-weight: 700;
    font-size: 34px;
    color: #2f4d5a;
    margin-bottom: 30px;
}
.emprendimiento .content p {
    margin-bottom: 30px;
}

.tecnologias {
    background-color: white;
}

.tecnologias .seccion-1 {
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
}

.tecnologias .seccion-1 img {
    display: block;
    margin: auto;
}

.tecnologias .seccion-1 h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
}
.tecnologias .seccion-1 h4 a {
    color: #37517e;
    transition: ease-in-out 0.3s;
}
.tecnologias .seccion-1 p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.tecnologias .icon-box:hover {
    transform: translateY(-10px);
}
.tecnologias .seccion-1:hover h4 a {
    color: #47b2e4;
}

/* contactos Section
--------------------------------*/
#contactos {
    background: #fff;
}
#contactos .info {
    color: #222;
}
#contactos .info i {
    font-size: 32px;
    color: #71c55d;
    float: left;
    line-height: 0;
}
#contactos .info p {
    padding: 0 0 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
}
#contactos .info .email p {
    padding-top: 5px;
}
#contactos .link-redes {
    padding: 20px 0;
}
#contactos .link-redes a {
    font-size: 18px;
    display: inline-block;
    background: #71c55d;
    color: #fff;
    line-height: 1;
    padding: 6px 0 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#contactos .link-redes a:hover {
    background: #55b03f;
    color: #fff;
}
#contactos .email-formulario .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}
#contactos .email-formulario .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
#contactos .email-formulario .error-message br + br {
    margin-top: 25px;
}
#contactos .email-formulario .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
#contactos .email-formulario .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
#contactos .email-formulario .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
}
#contactos .email-formulario input,
#contactos .email-formulario textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
#contactos .email-formulario input:focus,
#contactos .email-formulario textarea:focus {
    border-color: #71c55d;
}
#contactos .email-formulario input {
    padding: 10px 15px;
}
#contactos .email-formulario textarea {
    padding: 12px 15px;
}
#contactos .email-formulario button {
    background: #71c55d;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    border-radius: 30px;
}
#contactos .email-formulario button:hover {
    background: #92d283;
}

#footer {
    background: #263f49;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}
#footer .copyright {
    border-top: 1px solid #385b6b;
    text-align: center;
    padding-top: 30px;
}
@media (max-width: 575px) {
    #footer .footer-top .footer-info {
        margin: -20px 0 30px 0;
    }
}
