body {
    font-family: "Myriad Pro";
}

#main {
    margin-top: 90px;
}

#header {
    padding: 24px 0;
}
#header.header-transparant {
    background: transparent;
}

#header.header-scrolled {
    background: #526685;
    padding: 12px;
}

#header .logo {
    margin-left: 150px;
    margin-top: 19px;
}

#header .logo img {
    padding: 0;
    margin: 0;
    height: 100px;
}

@media (max-width: 768px) {
    #header.header-scrolled {
        padding: 30px 0;
    }
}

.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    margin-left: 10px;
    font-family: "Myriad Pro Regular";
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}
.navbar a:hover {
    color: #aeadad;
}
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(43, 111, 142, 0.9);
    transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #2f4d5a;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #67b0d1;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

#principal {
    width: 1518px;
    height: 1000px;
    background-image: url("../img/portada.jpg");
    background-size: cover;
    position: relative;
    margin-bottom: -90px;
}
#principal .contenedor-principal {
    background: rgb(69, 104, 130);
    opacity: 90%;
    position: absolute;
    bottom: 85px;
    top: 1;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    height: 230px;
}
#principal h1 {
    margin: 40px 0 10px 259px;
    font-family: "Myriad Pro Bold";
    font-size: 36px;
    line-height: 80px;
    color: #ffffff;
}
#principal p {
    color: #ffffff;
    font-family: "Myriad Pro Regular";
    margin-bottom: 50px;
    line-height: 0px;
    font-size: 30px;
    margin-left: 259px;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.seccion-titulo {
    text-align: center;
    padding-bottom: 30px;
}
.seccion-titulo h2 {
    font-size: 36px;
    font-family: "Myriad Pro Bold";
    position: relative;
    margin-bottom: 30px;
    color: #1b1e3f;
}

.seccion-titulo p {
    margin-bottom: 0;
}

#servicios {
    background: #ffffff;
    padding: 60px 0;
}
#servicios .item {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#servicios .item .item-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
    margin-left: 16px;
    margin-right: 16px;
}
#servicios .item .item-info-content {
    margin-top: 50px;
    transition: margin 0.2s;
}
#servicios .item .item-info-content p {
    margin-left: 45px;
    margin-right: 50px;
}

#servicios .item:hover .item-info {
    background: rgba(69, 104, 130, 0.9);
    opacity: 1;
    transition: 0.4s;
}
#servicios .item:hover .item-info-content {
    margin-top: 0;
    transition: margin 0.4s;
}
#servicios .item .item-info .item-info-content .item-servicio-1 {
    font-family: "Myriad Pro Bold";
    margin-bottom: 2px;
    color: #ffffff;
    line-height: 89px;
}

#servicios .item .item-info .item-info-content .parrafo-servicio-1 {
    font-family: "Myriad Pro Regular";
    display: block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}
#servicios .item .item-info .item-info-content .item-servicio-2 {
    font-family: "Myriad Pro Bold";
    margin-top: 50px;
    color: #ffffff;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#servicios .item .item-info .item-info-content .parrafo-servicio-2 {
    font-family: "Myriad Pro Regular";
    display: block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 0 0 0 10px;
}

#servicios .item .item-info .item-info-content .item-servicio-3 {
    font-family: "Myriad Pro Bold";
    margin-top: 50px;
    color: #ffffff;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#servicios .item .item-info .item-info-content .parrafo-servicio-3 {
    font-family: "Myriad Pro Regular";
    display: block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 0 0 0 10px;
}

.emprendimiento {
    background-size: cover;
    padding: 60px 0;
    position: relative;
    background-color: #526685;
}
.emprendimiento img {
    border-radius: 80%;
    margin-left: 130px;
}
.emprendimiento .container {
    position: relative;
}
.emprendimiento .content {
    margin: 0 0 0 -100px;
}
.emprendimiento .content h3 {
    font-family: "Myriad Pro Bold";
    font-size: 24px;
    color: #ffffff;
    line-height: 30px;
}
.emprendimiento .content h5 {
    font-family: "Myriad Pro Semibold";
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 30px;
}
.emprendimiento .content p {
    margin-bottom: 30px;
    font-family: "Myriad Pro Regular";
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 30px;
}

.seccion-titulo-emprendimiento h2 {
    font-size: 36px;
    font-family: "Myriad Pro Bold";
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

.tecnologias {
    background-color: white;
}

.tecnologias .seccion-1 {
    padding: 9px 0;
    transition: all ease-in-out 0.4s;
}

.tecnologias .seccion-1 img {
    display: block;
    margin: auto;
<<<<<<< HEAD
=======
    width: 200px;
    height:170px
>>>>>>> 13ad2c7c0239095d870e44ac534d97e012f26222
}

.tecnologias .seccion-1 p {
    font-family: "Myriad Pro Regular";
    text-align: center;
    color: #395999;
    margin-bottom: 15px;
    font-size: 18px;
    margin-left: 2px;
    line-height: 30px;
}

.tecnologias .seccion-1 .azure {
    margin-top: 47px;
}
.tecnologias .seccion-1 p a {
    color: #395999;
}
.tecnologias .seccion-1 p a:hover {
    color: #0ac6ee;
}
.tecnologias .seccion-1 .link-xamarin {
    margin-top: 81px;
}
.tecnologias .seccion-1 .link-asp {
    margin-top: 0;
}
.tecnologias .seccion-1 .link-visual {
    margin-top: 0;
}
.tecnologias .seccion-1 .visual-a {
    margin-top: 50px;
}
.tecnologias .seccion-1 .asp-a {
    margin-top: 51px;
}
.tecnologias .seccion-1 .link-c {
    margin-top: 0;
}
.tecnologias .seccion-1 .csharp-a {
    margin-top: 50px;
}
.tecnologias .seccion-1 .html-p {
    margin-top: 50px;
}
.tecnologias .seccion-1 .link-html {
    margin-top: 41px;
}
.tecnologias .seccion-1 .link-react {
    margin-top: 101px;
}
.tecnologias .seccion-1 .react-p {
    margin-top: 51px;
}
.tecnologias .seccion-1 .rest-p {
    margin-top: 47px;
}
.tecnologias .seccion-1 .link-rest {
    margin-top: 45px;
}
.tecnologias .seccion-1 .link-azure {
    margin-top: 75px;
}
.tecnologias .seccion-1 .azure-p {
    margin-top: 50px;
}
#contactos {
    background: #526685;
}
.seccion-titulo-contactos h2 {
    font-size: 36px;
    font-family: "Myriad Pro Bold";
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

#contactos .info {
    margin-top: 70px;
}
#contactos .info img {
    float: left;
    margin-right: 10px;
}
#contactos .info i {
    font-size: 32px;
    color: #71c55d;
    float: left;
    line-height: 0;
}
#contactos .info p {
    padding: 0 0 0 40px;
    margin-bottom: 10px;
    line-height: 50px;
    font-size: 22px;
    font-family: "Myriad Pro Regular";
    color: #ffffff;
}
#contactos .info .email p {
    padding-top: 5px;
}
#contactos .link-redes {
    padding: 20px 0;
}
#contactos .link-redes .facebook {
    margin-right: 10px;
}

#contactos .redes-sociales {
    font-family: "Myriad Pro Regular";
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    color: #ffffff;
    margin-top: 54px;
}

#contactos .email-formulario .nombre {
    color: #ffffff;
    font-family: "Myriad Pro Semibold";
    font-size: 22px;
    text-align: left;
    padding-bottom: 10px;
}
#contactos .email-formulario .correo {
    color: #ffffff;
    font-family: "Myriad Pro Semibold";
    font-size: 22px;
    text-align: left;
    padding-bottom: 10px;
}
#contactos .email-formulario .mensaje {
    color: #ffffff;
    font-family: "Myriad Pro Semibold";
    font-size: 22px;
    text-align: left;
    padding-bottom: 10px;
}
#contactos .email-formulario input {
    background-color: #869bdb;
    border: none;
    color: #ffffff;
    font-family: "Myriad Pro Regular";
    font-size: 22px;
    text-align: left;
}
#contactos .email-formulario textarea {
    background-color: #869bdb;
    border: none;
    color: #ffffff;
    font-family: "Myriad Pro Regular";
    font-size: 22px;
    text-align: left;
    height: 300px;
}
#contactos .email-formulario {
    margin-left: 10px;
}
#contactos .email-formulario .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}
#contactos .email-formulario .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
#contactos .email-formulario .error-message br + br {
    margin-top: 25px;
}
#contactos .email-formulario .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
#contactos .email-formulario .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
#contactos .email-formulario .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
}
#contactos .email-formulario input,
#contactos .email-formulario textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
#contactos .email-formulario input:focus,
#contactos .email-formulario textarea:focus {
    border-color: #71c55d;
}
#contactos .email-formulario input {
    padding: 10px 15px;
}
#contactos .email-formulario textarea {
    padding: 12px 15px;
}
#contactos .email-formulario button {
    background: #869bdb;
    font-family: "Myriad Pro Bold";
    font-size: 22px;
    border: 0;
    padding: 10px 24px;
    color: #ffffff;
    border-radius: 20px;
    width: 176px;
    height: 53px;
}
#contactos .email-formulario button:hover {
    background: #0d1d62;
}

#footer {
    background-image: url("../img/footer.jpg");
    color: #ffffff;
    font-family: "Myriad Pro Regular";
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

#footer .contenedor-footer {
    background-color: rgb(69, 104, 130);
    opacity: 90%;
    height: 100px;
}

#footer .copyright {
    border-top: 1px solid #385b6b;
    padding-top: 30px;
}


@media (max-width: 768px) {
    #principal {
        background-image: url("../img/portada_768.jpg");
        background-size: auto;
        background-repeat: no-repeat;
        width: 768px;
        margin-bottom: -526px;
    }
    #header .logo {
        margin-left: 70px;
    }
    #header .logo img {
        padding: 0;
        margin-left: 33px;
        height: 85px;
    }
    #principal .contenedor-principal {
        height: 126px;
        margin-bottom: 400px;
    }
    #principal h1 {
        margin: -10px 0 0 50px;
        font-family: "Myriad Pro Bold";
        font-size: 24px;
        line-height: 80px;
        text-align: left;
        color: #ffffff;
    }
    #principal p {
        font-family: "Myriad Pro Regular";
        font-size: 22px;
        margin: -20px 0 0 50px;
        text-align: left;
        line-height: 25px;
    }
    #principal p:nth-of-type(2) {
        font-family: "Myriad Pro Regular";
        font-size: 22px;
        margin: 0 0 10px 50px;
        line-height: 30px;
        text-align: left;
    }
    .seccion-titulo h2 {
    font-size: 30px;
    }
    #servicios .item .item-info {
        margin-left: 0;
        margin-right: 0;
    }

    #servicios .item .item-info .item-info-content .item-servicio-1 {
        font-size: 20px;
        line-height: 40px;
    }
    #servicios .item .item-info .item-info-content .parrafo-servicio-1 {
        font-size: 15px;
        line-height: 26px;
    }

    #servicios .item .item-info .item-info-content .item-servicio-2 {
        font-size: 20px;
        margin-top: 10px;
    }
    #servicios .item .item-info .item-info-content .parrafo-servicio-2 {
        font-size: 15px;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    #servicios .item .item-info .item-info-content .item-servicio-3 {
        font-size: 20px;
        line-height: 28px;
        margin-top: 26px;
    }
    #servicios .item .item-info .item-info-content .parrafo-servicio-3 {
        font-size: 15px;
        line-height: 22px;
        padding-left: 21px;
        padding-right: 21px;
        text-align: center;
    }
    .tecnologias .seccion-1 p {
    font-size: 15px;
    
}
    .tecnologias .seccion-1 .asp-a {
        margin-top: 51px;
    }
    .tecnologias .seccion-1 .link-c {
        margin-top: 1px;
    }
    .tecnologias .seccion-1 .react-p {
        margin-top: 52px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .tecnologias .seccion-1 .link-react {
        margin-top: 70px;
    }
    .tecnologias .seccion-1 .link-rest {
        margin-top: 45px;
    }

    .emprendimiento img {
        height: 202px;
        width: 202px;
        margin-left: 246px;
    }
    .emprendimiento .content {
        margin: 0;
    }
    .emprendimiento .content h3 {
        margin-left: 234px;
        font-size: 20px;
    }
    .emprendimiento .content h5 {
        margin-left: 292px;
        font-size: 15px;
    }
    .emprendimiento .content p {
        text-align: center;
        margin: auto;
        font-size: 15px;
    }
    .emprendimiento .content p:nth-of-type(2) {
        text-align: center;
    }
    #servicios .row div:nth-of-type(3) {
        margin-left: 190px;
    }

    .seccion-titulo-emprendimiento h2 {
        font-size: 30px;
    }
    .seccion-titulo-contactos h2 {
        font-size: 30px;
    }
    #contactos .info img {
        float: left;
        margin: 9px;
        height: 26px;
        width: 26px;
    }

    #contactos .redes-sociales {
        margin: 0 0 6px 14px;
    }

    #contactos .link-redes {
        margin: 13px;
        padding: 0;
    }

    #contactos .link-redes img {
        height: 26px;
        width: 26px;
    }

    #contactos .email-formulario {
        margin: 0;
    }

    #contactos .info p {
        font-size: 15px;
        line-height: 42px;
    }
    #contactos .redes-sociales {
        font-size: 15px;
    }
    #contactos .email-formulario .nombre {
        font-size: 20px;
    }
    #contactos .email-formulario .correo {
        font-size: 20px;
    }
    #contactos .email-formulario .mensaje {
        font-size: 20px;
    }
    #contactos .email-formulario button {
        font-size: 20px;
    }
    #footer {
        font-size: 12px;
    }
}

@media (max-width: 576px) and (min-width: 320px) {
    #principal {
        background-image: url("../img/portada_576.jpg");
        background-size: auto;
        background-repeat: no-repeat;
    }
    #servicios {
        padding: 400px 0 0 0;
    }
    #footer .footer-top .footer-info {
        margin: -20px 0 30px 0;
    }

    #header .logo {
        margin-left: 5px;
    }

    #header .logo img {
        height: 90px;
        margin-left: 1px;
    }

    #principal {
        width: 100%;
        height: 601px;
    }
    #principal h1 {
        margin: -10px 0 0 224px;
        font-size: 22px;
        line-height: 40px;
        font-family: "Myriad Pro Bold";
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #ffffff;
    }
    #principal p {
        font-size: 20px;
        margin: 10px 0 3px 50px;
        line-height: 10px;
        text-align: center;
    }

    #principal p:nth-of-type(2) {
        font-size: 20px;
        margin: 15px 0 3px 70px;
        line-height: 10px;
        text-align: center;
    }
    #principal .contenedor-principal {
        height: 126px;
        margin-bottom: 65px;
    }
    #servicios .seccion-titulo h2 {
        font-size: 22px;
        font-family: "Myriad Pro Bold";
        text-align: center;
        margin: -30px 0 32px 10px;
    }

    #servicios .item .item-info {
        margin-left: 64px;
        margin-right: 65px;
    }
    #servicios .item .item-info .item-info-content .item-servicio-1 {
        font-size: 18px;
    }

    #servicios .item .item-info .item-info-content .parrafo-servicio-1 {
        font-size: 14px;
    }
    #servicios .item .item-info .item-info-content .item-servicio-2 {
        font-size: 18px;
    }

    #servicios .item .item-info .item-info-content .parrafo-servicio-2 {
        font-size: 14px;
    }

    #servicios .item .item-info .item-info-content .item-servicio-3 {
        font-size: 18px;
    }

    #servicios .item .item-info .item-info-content .parrafo-servicio-3 {
        font-size: 14px;
    }
    #servicios .row div:nth-of-type(3) {
        margin-left: 0;
    }
    .emprendimiento img {
        margin-left: 22px;
    }
    .seccion-titulo-emprendimiento h2 {
        font-size: 22px;
    }
    .emprendimiento .content h3 {
        font-size: 22px;
        margin: 0;
    }

    .emprendimiento .content h5 {
        margin: 0 0 12px 0;
    }
    .emprendimiento .content {
        text-align: center;
    }

    .emprendimiento .content p {
        font-size: 14px;
    }
    .emprendimiento .content p:nth-of-type(2) {
        margin: 0 57px 0 70px;
    }

    .emprendimiento img {
        margin-left: 160px;
    }
    .tecnologias .seccion-titulo h2 {
        font-size: 22px;
    }
    .seccion-titulo-contactos h2 {
        font-size: 22px;
    }

    .seccion-titulo {
        padding-bottom: 0;
    }
    .tecnologias .seccion-1 {
        padding: 0 100px 0;
    }
    .tecnologias .seccion-1 p {
        text-align: center;
        font-size: 14px;
        line-height: 18px;
    }
    .tecnologias .seccion-1 .xamarin-p {
        margin: 0 68px 0 52px;
    }
    .tecnologias .seccion-1 .link-xamarin {
        margin-top: 15px;
    }

    .tecnologias .seccion-1 .react-p {
        margin: 0 29px 0 44px;
    }
    .tecnologias .seccion-1 .link-react {
        margin-top: 15px;
    }

    .tecnologias .seccion-1 .link-asp {
        margin: 0 58px 0 49px;
    }

    .tecnologias .seccion-1 .visual-a {
        margin-top: 15px;
    }

    .tecnologias .seccion-1 .asp-a {
        margin-top: 15px;
    }

    .tecnologias .seccion-1 .link-asp {
        margin: 0 58px 0 49px;
    }

    .tecnologias .seccion-1 .rest-p {
        margin: 0 56px 0 60px;
    }

    .tecnologias .seccion-1 .link-visual {
        margin-right: 50px;
        margin-left: 50px;
    }

    .tecnologias .seccion-1 .link-c {
        margin-left: 54px;
        margin-right: 54px;
    }

    .tecnologias .seccion-1 .csharp-a {
        margin-top: 15px;
    }

    .tecnologias .seccion-1 .html-p {
        margin-right: 62px;
        margin-left: 62px;
    }
    .tecnologias .seccion-1 .link-html {
        margin-top: 15px;
    }

    .tecnologias .seccion-1 .link-rest {
        margin-top: 15px;
    }

    .tecnologias .seccion-1 .azure {
        margin: 0 81px 0 84px;
    }
    .tecnologias .seccion-1 .link-azure {
        margin-top: 14px;
    }

    #contactos .contactos-formulario {
        margin-left: 20px;
        margin-right: 20px;
    }

    #contactos .info {
        margin-top: 0;
    }

    #contactos .info p {
        font-size: 15px;
        line-height: 42px;
    }
    #contactos .redes-sociales {
        font-size: 15px;
    }
    #contactos .email-formulario .nombre {
        font-size: 18px;
    }
    #contactos .email-formulario .correo {
        font-size: 18px;
    }
    #contactos .email-formulario .mensaje {
        font-size: 18px;
    }
    #contactos .email-formulario button {
        font-size: 18px;
    }
    #footer {
        font-size: 10px;
    }
}